@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-size: 1rem;
    scroll-behavior: smooth;
    scroll-padding: 1.3rem;
    --light-border: solid .5px #ffffff26;

    --index-width: 200px;
    --article-width: 70ch;
}

* {
    box-sizing: border-box;
    margin: 5px 0;
}

body {
    background: #101410;
    color: #ebfff2;
}

#article-banner {
    width: calc(var(--index-width) + var(--article-width));
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#article-divider {
    background: none;
    border: none;
    border-bottom: var(--light-border);
}

#banner-links>a {
    color: #d0d0d0;
    text-decoration: none;
}

#banner-links>a:hover {
    text-decoration: underline;
}

/* index.html = start */

#body-main {
    width: 100vw;
    max-width: 100%;
    min-height: 35vh;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

#body-sections {
    border: var(--light-border);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-bottom: none;
}

#body-sections>span {
    font-size: 16px;
    padding: 5px 10px;
    border: var(--light-border);
    cursor: pointer;
}

#body-items {
    padding: 5px;
}

@media (max-width: 800px) {
    #body-main {
        padding-left: 5px;
        align-items: start;
        min-height: 20vh;
    }

    #body-sections {
        justify-content: start;
    }
}

.item-cards-container {
    width: 100ch;
    max-width: 100%;
    margin: auto;
}

.item-card {
    text-decoration: none;
    color: inherit;
    display: block;
    border: var(--light-border);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.item-card:hover {
    background: #222;
}

.item-card>h3 {
    font-size: 16px;
}

.item-card>span {
    display: block;
    font-size: 8px;
    opacity: .5;
}

.item-card>p {
    font-size: 14px;
    opacity: .8;
}

a.full-items {
    display: block;
    font-size: 12px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a.full-items:hover {
    text-decoration: underline;
}

/* index.html = end */

/* utils.html & posts.html = start */
#main-container {
    width: calc(var(--index-width) + var(--article-width));
    max-width: 100%;
    margin: 1.5rem auto auto;
    padding: 5px 0;
}

/* utils.html & posts.html = end */

#page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: 5px;
    padding: 5px;
}

#post-index {
    width: var(--index-width);
    max-width: var(--index-width);
    position: sticky;
    top: 0;
    opacity: .7;
    transition: opacity 400ms;
    padding-top: 1.3rem;
}

#post-index:hover {
    opacity: 1;
}

#post-index a {
    color: inherit;
}

#post-index ul {
    padding-left: 0;
    list-style: none;
}

#post-index:not(:has(ul li:nth-child(2))) {
    display: none;
}

#post {
    width: var(--article-width);
    max-width: 98%;
}

#post h1:first-of-type {
    color: #aeffa1;
    font-size: 1.5rem;
}

#post>* {
    margin: 1.3rem 0;
}

#post>pre {
    background: #3a4a40;
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
    overflow-x: auto;
}

#post>blockquote {
    font-size: .8rem;
    background: #303632;
    border-left: solid 0.3rem #76954e;
    margin-left: 1.5rem;
    margin-right: inherit;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

#post>blockquote>p {
    margin: 0;
}

#post>table {
    border-collapse: collapse;
}

#post>table th {
    background: #303632;
}

#post>table td,
#post>table th {
    border: var(--light-border);
    padding: 5px;
}

@media (max-width: 800px) {
    #article-banner {
        padding: initial;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    #page {
        flex-direction: column-reverse;
    }

    #post-index {
        padding-top: 0;
        position: relative;
    }

    #main-container {
        padding: 5px;
    }
}